		*{
			padding: 0px;
			margin: 0px;
		}
		.red{
			width: 100px;
			height: 100px;
			float: left;
			background-color: red;
		}
		.blue{
			width: 100px;
			height: 100px;
			float: left;
			background-color: blue;
		}
		.green{
			width: 100px;
			height: 100px;
			float: left;
			background-color: green;
		}
		.clear{
			clear: both;
		}
		.box{
			border: 1px solid black;
			width: 300px;
			margin: 0 auto;
/		}
		.bigbox{
			width: 500px;
			height: 500px;
			border: 1px solid yellow;
		}